@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

/* Base styles */
@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }

  body {
    background-color: #fdfeff;
    overflow-x: hidden;
  }
}

/* Component styles */
@layer components {
  /* Primary button */
  .btn-primary {
    @apply bg-orange-500 text-white px-4 py-2 rounded w-full text-sm my-1 transition-colors duration-300;
  }

  .btn-primary:hover {
    @apply bg-blue-950;
  }

  /* Input box */
  .input-box {
    @apply w-full text-sm bg-transparent rounded outline-none mb-4;
    border: 1.5px solid;
    padding: 0.75rem 1.25rem; /* same as py-3 px-5 */
  }

  /* Text and background colors */
  .text-primary {
    color: #0070ac;
  }

  .bg-primary {
    background-color: #2BB5FF;
  }

  .text-secondary {
    color: #EF863E;
  }

  .bg-secondary {
    background-color: #EF863E;
  }
}
